body{
    margin:auto;
}
.container{
    width:100%;
    height: auto;
    margin: auto;
}
.header{
    margin:0 auto;   
    display: flex;
    height: 50px;
    width:100%;
    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul li{
   
    margin-top: 0px;
    float: left;
    list-style:none;
    font-size:8px;
    color: whitesmoke;
    margin-left: 20px;
}
#ONE{
    margin-left: 30px;
}
button{
    font-size:5px;
    width: 40px;
    height: 15px;
    font-weight:800;
    border: none;
    border-radius: 30px;
    margin-top:15px;
    margin-left: 120px;
    color:rgb(27, 20, 20);
}
.heading{
    display: flex;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: auto;
    
}
h1{
    margin-top: 70PX;
    padding-left: 150px;
   align-content: center;
    color: whitesmoke;
    font-size: 15px;
    letter-spacing: 1px;

}
p{
  width: 150px; 
    align-content: center;
     color: whitesmoke;
     font-size: 8px;
     letter-spacing: 1px;

 }

.image{
    display: flex;
    flex-direction:row;
}
.BUTTONS{
    display: flex;
   flex-wrap: wrap;
}



