body {
    margin: auto;
}

.container {
    width: 630px;
    height:3000px;
    margin: auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.header {
    margin: 0 auto;
    display: flex;
    height: 50px;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

ul li {

    margin-top: 0px;
    float: left;
    list-style: none;
    font-size: 8px;
    color: whitesmoke;
    margin-left: 20px;
}

#ONE {
    margin-left: 25px;

}

button {
    font-size: 6px;
    width: 40px;
    height: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
    margin-top: 13px;
    margin-left: 70px;
    color: rgb(27, 20, 20);
}

.heading {
    display: flex;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    margin: auto;

}

h1 {
    margin-top: 70PX;
    padding-left: 130px;
    align-content: center;
    color: whitesmoke;
    font-size: 24px;
    letter-spacing: 3px;

}

p {
    width: 150px;
    align-content: center;
    color: whitesmoke;
    font-size: 8px;
    letter-spacing: 1px;

}

.buttons {
    display: flex;
    width: 630px;
    height: 80px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    ;
}

#btn1 {
    margin-left: 30px;
    background-color: rgb(45, 45, 180);
    color: whitesmoke;
    width: 130px;
    height: 22px;
    margin-top: 30px;
    font-size: 8px;

}

#btn {
    margin-left: 200px;
    width: 70px;
    height: 22px;
    margin-top: 30px;
    font-size: 8px;
}

.gif {
    margin-top: 25px;
    
    width: 630px;
    height: 40px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.content {
    width: 630px;
    height: 400px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.testimonials{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: auto;
    margin: auto;
    
}
.testimonial1{
    display: flex;
    margin: auto;
    width:520px;
    height:210px;
    border: 0.5px solid grey;
    border-radius: 20px;
    background: linear-gradient(112.4deg, rgb(176, 174, 225) 4.9%, rgb(112, 168, 202) 44.5%);
   
}
.video1{
    flex-direction: row-reverse;
    width:238px;
    height:200px;   
    border-radius: 20px;
    margin-top:4px;
    margin-left: 5px;
}
.about1{
    width:200px;
    height:200px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 60px;
}
.testimonial2{
    display: flex;
    margin: auto;
    margin-top: 150px;
    width:520px;
    height:210px;
    border: 1px solid grey;
    border-radius: 20px;
    background: linear-gradient(109.6deg, rgb(135, 168, 254) 11.2%, rgb(254, 165, 197) 100.2%);
    
}
.about2{
    height:200px;   
    border-radius: 20px;
    margin-top:4px;
    margin-left: 25px;
}
.video2{
    width:200px;
    height:200px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 20px;
    
   
}
h2{
    color: whitesmoke;
    font-size: 20px;
    text-align:left;
    margin-left: 10px;
    margin-top:10px;
    letter-spacing: 2px;
}
#para2{
    width: 150px;
    align-content: center;
    color: whitesmoke;
    font-size: 9px;
    letter-spacing: 1px;
    margin-top: 0px;  
    margin-left: 10px;
}
#para3{
    width: 150px;
    align-content: center;
    color: whitesmoke;
    font-size: 9px;
    letter-spacing: 1px;
    margin-top: 0px;  
    margin-left: 20px;
}
#h2two{
    color: whitesmoke;
    font-size: 20px;
    text-align:left;
    margin-left: 10px;
    margin-top:10px;
    letter-spacing: 2px;
    margin-left: 20PX;
}

    
   
.testimonial3{
    display: flex;
    margin: auto;
    width:520px;
    margin-top:150px;
    height:210px;
    border: 0.5px solid grey;
    border-radius: 20px;
    background: linear-gradient(112.4deg, rgb(176, 174, 225) 4.9%, rgb(112, 168, 202) 44.5%);
   
}
.video3{
    flex-direction: row-reverse;
    width:238px;
    height:200px;   
    border-radius: 20px;
    margin-top:4px;
    margin-left: 5px;
}
.about3{
    width:200px;
    height:200px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 60px;
}
.testimonial4{
    display: flex;
    margin: auto;
    margin-top: 150px;
    width:520px;
    height:210px;
    border: 1px solid grey;
    border-radius: 20px;
    background: linear-gradient(112.4deg, rgb(176, 174, 225) 4.9%, rgb(112, 168, 202) 44.5%);
    
}
.about4{
    height:200px;   
    border-radius: 20px;
    margin-top:4px;
    margin-left: 25px;
}
.video4{
    width:200px;
    height:200px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 20px;
    
   
}
.testimonial5{
    display: flex;
    margin: auto;
    width:520px;
    height:210px;
    border: 0.5px solid grey;
    border-radius: 20px;
    background: linear-gradient(109.6deg, rgb(135, 168, 254) 11.2%, rgb(254, 165, 197) 100.2%);
    margin-top: 150px;
   
}
.video5{
    flex-direction: row-reverse;
    width:238px;
    height:200px;   
    border-radius: 20px;
    margin-top:4px;
    margin-left: 5px;
}
.about5{
    width:200px;
    height:200px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 60px;
}
.testimonial6{
    display: flex;
    margin: auto;
    margin-top: 150px;
    width:520px;
    height:210px;
    border: 1px solid grey;
    border-radius: 20px;
    background: linear-gradient(112.4deg, rgb(176, 174, 225) 4.9%, rgb(112, 168, 202) 44.5%);
    
}
.about6{
    height:200px;   
    border-radius: 20px;
    margin-top:4px;
    margin-left: 25px;
}
.video6{
    width:200px;
    height:200px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 20px;
    
   
}
#btn3{
    margin-left: 30px;
    background-color: rgb(45, 45, 180);
    color: whitesmoke;
    width: 130px;
    height: 22px;
    margin-top: 20px;
    font-size: 8px;
    margin-left: 270px;

}

